<a href="https://colab.research.google.com/github/BhanuprakashReddy/AI/blob/master/Practice_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a='Bhanu'
#a='Ã¤sha'
print(type(a))
print(a.encode())

<class 'str'>
b'Bhanu'

In [1]:
import pandas as pd
data = {'Name': ['John', 'Mary', 'Peter', 'Alice', 'David'],
        'Age': [20, 25, 30, 22, 28]}
df = pd.DataFrame(data)

# Select all rows where Age is greater than 25
filtered_df = df[df['Age'] > 25]

# Select all rows where Age is greater than 25 and Name starts with 'M'
filtered_df = df[(df['Age'] > 25) & (df['Name'].str.startswith('M'))]


# Select all rows where Age is greater than 25 and Name starts with 'M'
filtered_df = df[(df['Age'] > 25) & (df['Name'].str.startswith('M'))]

# Select all rows where Name is either 'John' or 'Alice'
filtered_df = df[df['Name'].isin(['John', 'Alice'])]

# Select all rows where Name ends with 'n'
filtered_df = df[df['Name'].str.endswith('n')]

# Select all rows where Age is even
filtered_df = df[lambda x: x['Age'] % 2 == 0]

In [9]:
String_a = "I need Tables, Chairs, Cupboards"
String_b = 'Tests, Quizzes Individual Labs Group Labs and Hackathons'
print (String_a , String_b)

I need Tables, Chairs, Cupboards Tests, Quizzes Individual Labs Group Labs and Hackathons